<?xml version="1.0"?>
<launch>
  
	<!-- Load the URDF into ROS parameter server -->
	<param name="robot_description"
     command="$(find xacro)/xacro --inorder '$(find hexapodo_description)/robots/hexapodo.urdf.xacro'" />

	<!-- send fake joint values -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	    <param name="use_gui" value="false"/>
	</node>

	<!-- Combine joint values -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
		<remap from="/joint_states" to="joint_states"/>
	</node>
  
</launch>