<?xml version="1.0" ?>
<robot name="clegs_template" xmlns:xacro="http://ros.org/wiki/xacro">

<!--=====================================================================-->
<!--           Template for the robot                                    -->
<!--=====================================================================-->

<!-- Files to include for the robot -->

<xacro:include filename="$(find hexapodo_description)/urdf/cleg_80.robot.xacro"/>
<xacro:include filename="$(find hexapodo_description)/urdf/base_template.xacro"/>
<xacro:include filename="$(find hexapodo_description)/urdf/sensores/d435.urdf.xacro"/>

<!-- Plugin gazebo_ros_control -->

<gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/clegs_template</robotNamespace>
    </plugin>
</gazebo>


<!-- Instanciacion de las patas dentro de la descripcion del robot -->

<motor name="motor_1" parent_link="base_link" right="0">
    <origin xyz="${-235/1000} ${233/1000} ${0/1000}" rpy="0 0 0"/>
</motor>

<motor name="motor_2" parent_link="base_link" right="1">
    <origin xyz="${-235/1000} ${-233/1000} ${0/1000}" rpy="0 0 0"/>
</motor>

<motor name="motor_3" parent_link="base_link" right="0">
    <origin xyz="${0/1000} ${289/1000} ${0/1000}" rpy="0 0 0"/>
</motor>

<motor name="motor_4" parent_link="base_link" right="1">
    <origin xyz="${0/1000} ${-289/1000} ${0/1000}" rpy="0 0 0"/>
</motor>

<motor name="motor_5" parent_link="base_link" right="0">
    <origin xyz="${235/1000} ${233/1000} ${0/1000}" rpy="0 0 0"/>
</motor>

<motor name="motor_6" parent_link="base_link" right="1">
    <origin xyz="${235/1000} ${-233/1000} ${0/1000}" rpy="0 0 0"/>
</motor>


<!-- Sensors -->
<!--sensor_d435 parent="base_link">
    <origin xyz="0.27 0 -0.01" rpy="0 0 0"/>
</sensor_d435-->

</robot>
