<launch>
	<!--node name="complete_wave" pkg="clhero_gait_patterns_definition" type="complete_wave"/>
	<node name="test_pattern" pkg="clhero_gait_patterns_definition" type="test_pattern"/-->
	<node name="test_position_control" pkg="clhero_gait_patterns_definition" type="test_position_control"/>
</launch>